<div id="<%= dom_id aset %>" class="card">
  <p>
    <strong>Name:</strong>
    <%= aset.name %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= aset.serial_number %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= aset.purchase_date %>
  </p>

  <p>
    <strong>Purchase price:</strong>
    <%= aset.purchase_price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= aset.location %>
  </p>

  <p>
    <strong>Current owner:</strong>
    <%= aset.current_owner %>
  </p>

  <p>
    <strong>Warranty expiration date:</strong>
    <%= aset.warranty_expiration_date %>
  </p>

  <p>
    <strong>Maintenance history:</strong>
    <%= aset.maintenance_history %>
  </p>

  <p>
    <strong>Asset category:</strong>
    <%= aset.asset_category %>
  </p>

  <p>
    <strong>Asset status:</strong>
    <%= aset.asset_status %>
  </p>

  <img src="/asets/qr_codes/<%= aset.id %>.svg" alt="QR code" class="qrl_card">

  <p class="show_aset_p">
    <%= link_to "Show this asset", aset, class: "show_aset" %>
  </p>

</div>

